[Unit]
Description=Pi Wall Turret
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash /home/pi/pi-wall-turret/start.sh

[Install]
WantedBy=multi-user.target
