html, body{
    background-color: #333;
    color: white;
}

h1, h2{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;

    width: 90vw;
    height: 95vh;

    margin-left: auto;
    margin-right: auto;
}

#info_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 10%;

    border: 1px solid white;
}

#info_div *{
    height: 50%;
    margin: auto;
}

#info_div table{
    width: 100%;
    text-align: center;
}

#camera_div{
    height: 90%;
    border: 1px solid white;
}

#camera{
    width: 100%;
    height: 100%;
}